* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

h1 {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 7.5vh;
    font-weight: bold;
    text-align: center;
    color: white;    
}

h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 4vh;
    font-weight: lighter;
    font-style: italic;
    text-align: center;
    color: rgb(255, 255, 255);
}

@media only screen and (max-width: 900px) {
    h1 {
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 4vh;
        font-weight: bold;
        text-align: center;
        color: rgb(255, 255, 255);
    }
    h2 {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 2.5vh;
        font-weight: lighter;
        font-style: italic;
        text-align: center;
        color: rgb(255, 255, 255);
    }
}


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 80vh;
    background: rgba(0, 0, 0, 0.4);
}

.logo-box {
    position: absolute;
    top: 1%;
    left: 1%;
    width: 10%; 
}

.logo-box img {
    
    width: 100%;
    height: auto;
    @media only screen and (max-width: 600px) {
        width: 175%;
    }
}


.background-box {   
    

    width: 100vw;
    min-height: 80vh; 
    background-image: url('sources/Header_IMG1.JPEG');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    
    /* https://www.w3schools.com/css/css_background.asp */
    /* https://www.w3schools.com/css/css_boxmodel.asp */

    display: flex;
    text-align: center;
    justify-content: center;  /* Horizontaal centreren */
    align-items: center;      /* Verticaal centreren */
}

.title-box {
    position: relative;
    
}

.nav-container {
    position: absolute;
    top: 5%;
    display: flex;
    gap: 1vw;
    left: 50%;  /* Zet de container op 50% van de breedte */
    transform: translate(-50%, 0%);  /* Precisiecentrering */
}

.nav-button {
    background-color: #04aa6d00; /* Green */
    border: rgb(255, 255, 255);
    border-style: solid;
    border-width: 3px;
    color: white;
    padding: 1.0vh 2.5vw;
    font-size: 1.4vw;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 1px; /* optionele afronding */
}

.nav-button:hover {
    background-color: rgba(0, 0, 0, 0.31); /* Donkerdere tint groen */
    color: white;
}

@media only screen and (max-width: 600px) {
    .nav-button {
        font-size: 2vw;
    }
    .nav-container {
        top: 10%;
        gap: 0.5vw;
    }
}

@media only screen and (min-width: 1200px) {
    .nav-button {
        font-size: 1.2vw;
    }
    .nav-container {
        top: 5%;
        gap: 0.5vw;
    }
}
